@import url('https://fonts.googleapis.com/css?family=Jua');

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Jua', sans-serif;
    background-color: #F2F1EF;
    line-height: 1.6;
}

h1 {
    text-align: center;
    top: 10%;
    left: 50%;
}

span {
    color :#EF4836;
}

.loader span{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 100%;
    margin: 35px 5px;
  }
  
  .loader span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
    background-color: red;
  }
  
  .loader span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
    background-color: blue;
  }
  
  .loader span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
    background-color: green;
  }
  
  @keyframes bounce{
    0%, 75%, 100%{
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
    }
  
    25%{
      -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
      -o-transform: translateY(-20px);
      transform: translateY(-20px);
    }
  }
  